#bg-header{
    background-color: #E7F0FF;
    height: 100% !important;
    flex-wrap: wrap-reverse;
}
.header img{
    max-inline-size: 100%;
    block-size: auto;
}
@media only screen and (max-width: 992px) {
    #bg-header{
        text-align: center;
    }
    .br{
        display: none;
    }
    .header img{
        width: 50%;
        max-inline-size: 100%;
        block-size: auto;
    }
}
@media only screen and (max-width: 768px) {
    .header img{
        width: 75%;
        max-inline-size: 100%;
        block-size: auto;
    }
    .form_search input{
        width: 75%;
    }
}


.lcText a{
    background-color: #E7F0FF;
    width: 90%;
    border-radius: 5px;
}
.arrow{
    height: 1.25rem;
    width: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #062D92;
    border-radius: 50%;
}



.luContent{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 10px;
}
.lcImage{
    width: 100%;
}
.lcImage img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.form_search{
    position: relative;
    z-index: 99999;
    display: flex;
    align-items: center;
    gap: .25rem;
    border: 1px solid gray;
    background-color: white;
    border-radius: 75px 75px;
}
.form_search button{
    display: flex;
    align-items: center;
    border: none;
    background: none;
}
.form_search input{
    font-size: calc(50% + 1.2vmin)!important;
    font-weight: bolder;
    width: 90%;
    border: none;
    font-family: 'Quicksand', sans-serif !important;
}
.form_search input:focus{
    outline: none;
    font-family: 'Quicksand', sans-serif !important;
}