.header{
    position: relative;
}
/* .headerImage{
    filter: brightness(80%);
    position: relative; 
    width: 100vw;
    height: 30rem;
    object-fit: cover;
} */
.headerImage img{
    filter: brightness(80%);
    position: relative; 
    width: 100%;
    height: 30rem;
    object-fit: cover;
}
.arrowSliderTop{
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 /* Resize Background*/
 @media only screen and (max-width: 800px) {
    .headerImage img{
            width: 100vw;
            height: 15rem;
            background-size: 100% auto !important;
    }
}
@media only screen and (max-width: 576px) {
    .arrowSliderTop{
        width: 90%;
    }
}
.header .container{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FORM CSS */
.form_search{
    position: relative;
    z-index: 99999;
    display: flex;
    align-items: center;
    gap: .25rem;
    background-color: white;
    border-radius: 75px 75px;
}
.form_search button{
    display: flex;
    align-items: center;
    border: none;
    background: none;
}
.form_search input{
    font-size: calc(50% + 1.2vmin)!important;
    font-weight: bolder;
    width: 90%;
    border: none;
    font-family: 'Quicksand', sans-serif !important;
}
/* testing here */
@media only screen and (max-width: 768px) {
    .form_search input{
        width: 90%;
    }

    .leftImage img{
        display: none;
    }
}
.form_search input:focus{
    outline: none;
    font-family: 'Quicksand', sans-serif !important;
}

.luContent{
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 10px;
}
.lcImage{
    width: 100%;
}
.lcImage img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


.leftImage img{
    height: 80%;
}


.slick-slide[aria-hidden="true"] {
    visibility: hidden;
}
.siText{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    /* transform: translate(-50%, -50%); */
    color: white;
}
.topTitle{
    margin-bottom: auto;
}
.slider-item img{
    filter: brightness(50%);
    width: 100%;
    height: auto;
    object-fit: cover;
}
.btn-la{
    background-color: white;
}
.arrow-la{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #062D92;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}
.arrowSlider{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1200px) {
    .arrowSlider{
        width: 100%;
    }
}
@media only screen and (max-width: 992px) {
    .arrowSlider{
        width: 100%;
    }
}
.arrowSlider .prev{
    padding: .5rem .95rem;
    border-radius: 50%;
    color: white;
    background-color: #062D92;
}
.arrowSlider .next{
    padding: .5rem .95rem;
    border-radius: 50%;
    color: white;
    background-color: #062D92;
}
@media only screen and (max-width: 430px) {
    /* .responsive .slider-item{
        width: 100% !important;
    }
    .slick-current div:not([class]){
        display: flex;
        justify-content: center;
    } */
    .arrowSlider{
        top: 47.5% !important;
        width: 107.5%;
    }

    .leftImage img{
        display: none;
    }
}
/* @media screen and (min-width: 431px) and (max-width: 1200px) {
    .responsive .slider-item{
        display: flex !important;
        justify-content: center;
        width: 75% !important;
    }
    .slick-current div:not([class]){
        display: flex;
        justify-content: center;
    }
} */


/* SLIDER */
