.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }

.carouselDA {
	/* background: #f0f0f0; */
	color: #3498db;
	font-size: 2.25rem;
	margin: .5rem;
	padding: 2%;
	position: relative;
	text-align: center;
}

.daDesc p{
    text-align: justify;
    font-weight: bold;
	font-size: 1.25rem!important;
}

.slick-initialized .slick-slide {
    display: block;
    text-align: -moz-center;
text-align: -webkit-center;
}

.slider-single .carouselDA {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.slider-nav .carouselDA::before {
	content: "";
	display: block;
	padding-top: 75%;
}

.slider-nav .carouselDA span {
	position: absolute;
    width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slider-nav .slick-slide { 
    cursor: pointer; 
}

.slick-slide.is-active .carouselDA {
	color: #c00;
	background-color: #fff
}



.interactiveIcon a{
    text-decoration: none;
    color: #666262;
}


#artikelTerkait{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.luContent{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 10px;
}
.atContent p:nth-child(1){
    font-size: 12.5px !important;
}
.atContent a{
    text-decoration: none;
    color: #062D92;
    font-weight: bold;
}

.hastag a{
    text-decoration: none;
}

@media only screen and (max-width: 800px){
    .daDesc p{
        text-align: justify;
        font-weight: bold;
        font-size: 1rem!important;
    }
}

@media only screen and (max-width: 600px) {
    .textFlex p:nth-child(1){
        width: 30%;
    }
    #social-links ul{
        display: flex;
        list-style: none;
        gap : 1rem;
        padding-left: 0;
    }
    #social-links ul li a .fab{
        font-size: 1.4rem;
        color: #666262;
    }
    #social-links ul li a .fab:hover{
        color: #062D92;
        padding: 5px 0;
    }
    
    .dropdown-item:hover{
        background-color: #fff;
    }
    
    
}
#social-links ul{
    display: flex;
    list-style: none;
    gap : 1rem;
    padding-left: 0;
}
#social-links ul li a .fab{
    font-size: 1.4rem;
    color: #666262;
}
#social-links ul li a .fab:hover{
    color: #062D92;
    padding: 5px 0;
}

.dropdown-item:hover{
    background-color: #fff;
}


/* .show:hover + #social-links {
    display: flex;
  } */