#bg-header{
    background-color: #E7F0FF;
    height: 100% !important;
    flex-wrap: wrap-reverse;
}

.nav-link.active {
    color: blue;
}

.header img{
    max-inline-size: 100%;
    block-size: auto;
}

.tab-pane{
    color: #666262;
}

.bx{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.nav-tabs{
    border-bottom: none;
}

.nav-link{
    color: black;
}

.box-tab{
    box-shadow: rgba(0, 0.1, 0.1, 0.1) 0px 1px 1px 1px;
}

.cardVm{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.card{
    border: none;
}


@media only screen and (max-width: 992px) {
    #bg-header{
        text-align: center;
    }
    .header img{
        width: 50%;
        max-inline-size: 100%;
        block-size: auto;
    }
}
@media only screen and (max-width: 768px) {
    .header img{
        width: 75%;
        max-inline-size: 100%;
        block-size: auto;
    }
}