#bg-header{
    background-color: #E7F0FF;
    height: 100% !important;
    flex-wrap: wrap-reverse;
}
.header img{
    max-inline-size: 100%;
    block-size: auto;
}
.luContent{
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 10px;
}
.lcImage{
    width: 100%;
}
.lcImage img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media only screen and (max-width: 992px) {
    #bg-header{
        text-align: center;
    }
    .header img{
        width: 50%;
        max-inline-size: 100%;
        block-size: auto;
    }
}
@media only screen and (max-width: 768px) {
    .header img{
        width: 75%;
        max-inline-size: 100%;
        block-size: auto;
    }
}